body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(250, 250, 250);
  text-align: right;
  line-height: 1.7;
}

abbr {
  cursor: help;
  text-decoration: underline dashed;
}

abbr::after {
  content: attr(data-text);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.463vh 0.5208vw;
  font-size: 1.25vw;
  width: 20vw;
  max-width: 90%;
  border-radius: 4px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
  font-weight: 600;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

abbr:hover::after {
  opacity: 1;
  visibility: visible;
}

abbr:focus::after {
  opacity: 1;
  visibility: visible;
}

.sidenav {
  height: 50%;
  width: 25vw;
  position: fixed;
  z-index: 1;
  top: 16vh;
  right: 0.4vw;
  background-color: #dbdbdb;
  overflow-x: hidden;
  padding-top: 1vh;
  border-radius: 25px;
  padding-inline-start: -2vw;
}

.sidenav li {
  position: relative;
  font-style: italic;
  right: 0.4vw;
  padding-top: 1.2vh;
  text-decoration: none;
  font-size: 1.18vw;
  color: #636363;
}

.sidenav li:hover {
  color: #000000;
  background-color: white;
  border-bottom: red solid 5px;
  border-radius: 10px;
  animation: move 0.85s forwards;
}

@keyframes move {
  from {right: 0;} to {right: 2vw;}
}

.toc {
  font-style: oblique;
  position: absolute;
  font-size: 3vw !important;
  font-weight: bolder;
  right: 1vw !important;
  border: none !important;
  height: 10vh !important;
  top: -13vh !important;
  list-style-type: none;
}
.toc:hover {
  background-color: #dbdbdb !important;
}

.title {
  text-align: left !important;
  position: absolute;
  color: #fff;
  font-size: 3.75vw;
  font-weight: 100;
  left: 7vw;
  top: -6vh;
}

.youtube-icon {
  display: inline-block;
  text-align: center;
  height: 2rem;
}

.navbar {
  padding-top: 8vh;
  padding-left: 8vw;
  background-color: #000;
  margin: -1vh -0.52vw;
  color: #fff;
  z-index: 2;
  padding: 3rem 8rem;
}

.navbar a {
  width: 13vw;
  font-size: 2.96vh;
  color:#fff;
}

.main {
  flex-grow: 1;
  min-width: 0;
  width: 68vw;
  height: 980vh;
  margin: 0.09vh 28vw 0.09vh 5.2vw;
}

.python {  /*python image below main*/
    max-width: 50%;
    height: auto;
    position: absolute;
    left: 16vw;
    top: 20vh;
    display: block;
    border-radius: 6rem;
}

.sect1 {
  font-size: 2.0833vw;
  position: absolute;
  width: 65vw;
  top: 75vh;
  right: 30vw;
  display: block;
}

.sect2 {
  font-size: 2.0833vw;
  position: absolute;
  display: block;
}

.sect2 h2 {
  font-size: 4.6875vw;
  position: absolute;
  width: 50vw;
  top: 93vh;
  left: -54vw;
  display: block;
}

.sect2 p {
  position: absolute;
  left: -65vw;
  width: 64vw;
  top: 113vh;
  display: block;
}

.pl {
  position: absolute;
  right: 30vw;
  top: 190vh;
  display: block;
  max-width: 70%;
  height: auto;
  border-radius: 1.5rem;
}

.sect3 h2 {
  font-size: 4.6875vw;
  position: absolute;
  top: 235vh;
  right: 30vw;
  display: block;
}

.sect3 p {
  font-size: 2.0833vw;
  position: absolute;
  width: 65vw;
  top: 260vh;
  right: 30vw;
}

.sect3 img {
  position: absolute;
  display: block;
  max-width: 110%;
  height: auto;
  top: 340vh;
  right: 40vw;
}

.sect4 h2 {
  position: absolute;
  font-size: 4vw;
  width: 70vw;
  top: 400vh;
  right: 30vw;
}

.sect4 h3 {
  font-size: 3.75vw;
  position: absolute;
  width: 70vw;
  right: 35vw;
  color: #1f1f1f;
  text-decoration: underline solid;
}

.sect4 h4 {
  font-size: 3vw;
  position: absolute;
  width: 67vw;
  right: 40vw;
  color: #2e2e2e;
  text-decoration: underline solid;
}

.sect4 h5 {
  font-size: 2.5vw;
  position: absolute;
  width: 70vw;
  right: 43vw;
  color: #3f3f3f;
  text-decoration: underline solid;
}

.sect4 p {
  font-size: 2.0833vw;
  position: absolute;
  width: 68vw;
  right: 30vw;
}

.sect4 img {
  max-width: 55%;
  position: absolute;
  top: 695vh;
  border-radius: 6rem;
}

.sect5 h2 {
  position: absolute;
  font-size: 4vw;
  width: 70vw;
  top: 760vh;
}

.sect5 p {
  font-size: 2.0833vw;
  position: absolute;
  width: 65vw;
  right: 30vw;
}

.sect5 img {
  max-width: 75%;
  position: absolute;
  top: 900vh;
  right: 30vw;
  border-radius: 6rem;
}

.footer {
  padding-top: 8vh;
  padding-left: 8vw;
  background-color: #000;
  margin: -1vh -0.52vw;
  color: #fff;
  z-index: 2;
  padding: 3rem 8rem;
}